<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Источники пакетов: очищаем всё и оставляем только официальный nuget.org -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <!-- Маппинг: все пакеты идут только из nuget.org -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

  <!-- На всякий случай отключим корпоративный фид по имени, если он где-то всплывёт -->
  <disabledPackageSources>
    <add key="team_coreservices-nuget" value="true" />
  </disabledPackageSources>
</configuration>