apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: birthday-bot-egress
  namespace: {{ .Values.namespace }}
spec:
  podSelector:
    matchLabels:
      app: birthday-bot-api
  policyTypes:
    - Egress
  egress:
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
    - to:
        - podSelector:
            matchLabels:
              app: mongodb
      ports:
        - protocol: TCP
          port: 27017
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
      ports:
        - protocol: TCP
          port: 443
